.el-table table {
  margin-bottom: 0;
}

.el-pagination .el-pager{
  padding-left: 0;
}

.markdown-section .demo-block .el-table table {
  display: table;
}

.markdown-section .demo-block td, .markdown-section .demo-block th {
  border: 0;
  padding: 0;
}

.demo-block .el-table--border td, .demo-block .el-table--border th {
  border-right: 1px solid #dfe6ec;
}

.markdown-section .demo-block p.tip, .markdown-section .demo-block tr:nth-child(2n) {
  background-color: white;
}

.markdown-section {
  max-width: 1024px;
}
